* {
	margin: 0;
	padding: 0;
}

body, html {
	line-height: 225%;
	height: 100%;
	background-color: rgb(240, 246, 246);
	scroll-behavior: smooth;
}

footer {
	text-align: center;
}

.parallaxLarge {
	/* Full height */
	height: 100%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallaxSmall {
	/* Full height */
	height: 35%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallaxMedium {
	/* Full height */
	height: 60%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallaxSmallMedium {
	/* Full height */
	height: 50%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#homepage1 {
	background-image: url("images/restaurang_1.jpg");
}

#homepage2 {
	background-image: url("images/uteservering_1.jpg");
}

#homepage3 {
	background-image: url("images/servering_1.jpg");
}

#lunch1 {
	background-image: url("images/restaurang_2.jpg");
}

#lunch2 {
	background-image: url("images/husman_3.jpg");
}

#lunch3 {
	background-image: url("images/burgare_1.jpg");
}

#lunch4 {
	background-image: url("images/pizza_1.jpg");
}

#lunch5 {
	background-image: url("images/kaffe.jpg");
}

#alacarte1 {
	background-image: url("images/servering_2.jpg");
}

#alacarte2 {
	background-image: url("images/husman_2.jpg");
}

#alacarte3 {
	background-image: url("images/burgare_2.jpg");
}

#alacarte4 {
	background-image: url("images/fisk_1.jpg");
}

#alacarte5 {
	background-image: url("images/planka.jpg");
}

#alacarte6 {
	background-image: url("images/burgare_3.jpg");
}

#alacarte7 {
	background-image: url("images/husman_3.jpg");
}

#alacarte8 {
	background-image: url("images/köttbitar.jpg");
}

#alacarte9 {
	background-image: url("images/husman_1.jpg");
}

#alacarte10 {
	background-image: url("images/efterrätt_1.jpg");
}

#facebooklink {
	text-decoration: underline;
}

#holidayHours {
	padding-top: 1%;
}

b {
	font-size: 20px;
	color: rgb(0, 0, 0);
}

p {
	color: rgba(92, 89, 89);
	font-size: 20px;
}

h1 {
	color: rgba(92, 89, 89);
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 0.5%;
}

h2 {
	color: rgb(238, 234, 234);
	font-size: 25px;
	font-weight: bold;
}

a {
	text-decoration: none;
}

.logo {
	z-index: 2;
	top: 17%;
	width: 10%;
	position: fixed;
	min-width: 200px;
	min-height: 200px;
}

.logo_highlighted {
	z-index: 1;
	top: 17%;
	width: 10%;
	position: fixed;
	min-width: 200px;
	min-height: 200px;
}

.arrow {
	bottom: 5%;
	left: 50%;
	position: fixed;
}

.button1, .button2, .button3, .button4, .button5 {
	z-index: 1;
	padding: 1%;
	text-align: center;
	width: 7%;
	position: fixed;
	background-color: rgb(100, 47, 26);
	text-shadow: 0 0 3px #FF0000;
	border-style: solid;
	border-width: 1px;
	min-width: 130px;
	min-height: 35px;
}

.button1 {
	bottom: 50%;
}

.button2 {
	bottom: 35%;
}

.button3 {
	bottom: 25%;
}

.button4 {
	bottom: 15%;
}

.button5 {
	bottom: 35%;
}

.button1:hover {
	background-color: rgb(65, 39, 14);
}

.button2:hover {
	background-color: rgb(65, 39, 14);
}

.button3:hover {
	background-color: rgb(65, 39, 14);
}

.button4:hover {
	background-color: rgb(65, 39, 14);
}

.button5:hover {
	background-color: rgb(65, 39, 14);
}

.logo:hover {
	display: none;
}

.dividerSmallMedium, .dividerMedium, .dividerMediumLarge, .dividerLarge {
	background-color: rgb(240, 246, 246);
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	width: 100%;
	position: absolute;
	background-color: rgb(240, 246, 246);
}

.dividerSmall {
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	height: 22%;
	width: 100%;
	background-color: rgb(240, 246, 246);
}

.dividerSmallMedium {
	height: 30%;
}

.dividerMedium {
	height: 40%;
}

.dividerMediumLarge {
	height: 45%;
}

.dividerLarge {
	height: 60%;
}

.doubleHeadline {
	margin-top: 2%;
}

.cardcontainer img {
    animation: zoominoutsinglefeatured 1s infinite ;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

@media only screen and (max-width:600px) {
	body, html {
		line-height: 130%;
	}
	h2 {
		font-size: 16px;
		margin-top: 3px;
	}
	h3 {
		font-size: 12px;
	}
	p {
		font-size: 10px;
	}
	b {
		font-size: 12px;
		color: rgb(0, 0, 0);
	}
	h1 {
		font-size: 20px;
	}
	.logo {
		display: none
	}
	.logo_highlighted {
		display: none
	}
	.arrow {
		bottom: 15%;
		left: 50%;
		position: fixed;
	}
	.button1, .button2, .button3, .button4, .button5 {
		width: 20%;
		bottom: 3%;
		height: 5%;
		padding-top: 3%;
		min-width: 75px;
		min-height: 35px;
	}
	.button1 {
		left: 2%
	}
	.button2 {
		left: 27%
	}
	.button3 {
		left: 51%
	}
	.button4 {
		left: 75%
	}
	.button5 {
		left: 27%;
	}
	.dividerSmall {
		height: 15%;
	}
	.dividerSmallMedium {
		height: 25%;
	}
	.dividerMedium {
		height: 30%;
	}
	.dividerMediumLarge {
		height: 35%;
	}
	.dividerLarge {
		height: 60%;
	}
	.parallaxLarge {
		height: 100%;
	}
	.parallaxSmall {
		height: 25%;
	}
	.parallaxMedium {
		height: 50%;
	}
	.parallaxSmallMedium {
		height: 30%;
	}
}

@media only screen and (min-width: 600px) and (max-width:1200px) {
	body, html {
		line-height: 200%;
	}
	h2 {
		font-size: 25px;
	}
	h3 {
		font-size: 20px;
	}
	p {
		font-size: 18px;
	}
	b {
		font-size: 15px;
		color: rgb(0, 0, 0);
	}
	h1 {
		font-size: 30px;
	}
	.logo {
		display: none
	}
	.logo_highlighted {
		display: none
	}
	.arrow {
		bottom: 15%;
		left: 50%;
		position: fixed;
	}
	.button1, .button2, .button3, .button4, .button5 {
		width: 20%;
		bottom: 3%;
		height: 5%;
		padding-top: 3%;
	}
	.button1 {
		left: 2%
	}
	.button2 {
		left: 27%
	}
	.button3 {
		left: 51%
	}
	.button4 {
		left: 75%
	}
	.button5 {
		left: 27%;
	}
	.dividerSmall {
		height: 17%;
	}
	.dividerSmallMedium {
		height: 25%;
	}
	.dividerMedium {
		height: 35%;
	}
	.dividerMediumLarge {
		height: 40%;
	}
	.dividerLarge {
		height: 50%;
	}
	.parallaxLarge {
		height: 100%;
	}
	.parallaxSmall {
		height: 35%;
	}
	.parallaxMedium {
		height: 50%;
	}
	.parallaxSmallMedium {
		height: 40%;
	}
}

@media only screen and (min-width: 1200px) {
	body, html {
		line-height: 225%;
	}
	#holidayHours {
		padding-top: 0%;
	}
}